{% if field.options %}
	<div class="grouped fields{% if field.required %} required{% endif %}">
		<label>{{ field.label }}</label>
		{% for option in field.options %}
			<div class="field">
				<div class="ui checkbox">
					<input type="checkbox" class="hidden" id="{{ field.id }}_{{ option.id }}" name="{{ field.id }}[]" value="{{ option.id }}"{% if option.id in value %} checked="checked"{% endif %}{% if field.required %} required="required"{% endif %}>
					<label for="{{ field.id }}_{{ option.id }}">{{ option.label }}</label>
				</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="field{% if field.required %} required{% endif %}">
		<div class="ui checkbox">
			<input type="checkbox" class="hidden" id="{{ field.id }}" name="{{ field.id }}" value="1"{% if value %} checked="checked"{% endif %}{% if field.required %} required="required"{% endif %}>
			<label for="{{ field.id }}">{{ field.label }}</label>
		</div>
	</div>
{% endif %}