<div class="field{% if field.required %} required{% endif %}">
	<label>{{ field.label }}</label>
	<select name="{{ field.id }}" id="{{ field.id }}"{% if field.required %} required="required"{% endif %} class="ui dropdown">
		{% for option in field.options %}
			<option value="{{ option.id }}"{% if value is defined and value == option.id %} selected="selected"{% endif %}>{{ option.label }}</option>
    	{% endfor %}
	</select>
</div>