<div class="wrap">
	<h2>{{ __('Filters', 'bookings') }}</h2>
	<ul class="subsubsub">
		<li class="all"><a href="edit.php?post_type=wpep&amp;page=filters"{% if mode == 'all' %} class="current"{% endif %} aria-current="page">All <span class="count">({{ count_all }})</span></a> |</li>
		<li class="mine"><a href="edit.php?post_type=wpep&amp;page=filters&amp;paid=1"{% if mode == 'paid' %} class="current"{% endif %}>Paid <span class="count">({{ count_paid }})</span></a> |</li>
		<li class="publish"><a href="edit.php?post_type=wpep&amp;page=filters&amp;paid=0"{% if mode == 'notpaid' %} class="current"{% endif %}>Not Paid <span class="count">({{ count_notpaid }})</span></a></li>
	</ul>
	<div class="tablenav top" style="height: auto;">
		<form action="edit.php?post_type=wpep&page=filters&filter_id={{ filter_id }}" method="POST" id="filters_form">
			<table class="form-table">
				<tr>
					<th scope="row"><label for="event_id">Event</label></th>
					<td>
						<select name="ufs[event_id]">
							<option value="0">-- {{ __('select event', 'wpep') }} --</option>
							{% for event in events %}
								<option value="{{ event.ID }}"{% if ufs.event_id == event.ID %} selected="selected"{% endif %}>{{ event.post_title }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				{% for field in user_fields %}
					<tr>
						<th scope="row"><label for="{{ field.id }}">{{ field.label }}</label></th>
						<td>
							{% if field.type == 'text' %}
								<input type="text" name="ufs[{{ field.id }}]" id="{{ field.id }}" value="{{ ufs[field.id] }}"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
							{% elseif field.type == 'email' %}
								<input type="email" name="ufs[{{ field.id }}]" id="{{ field.id }}" value="{{ ufs[field.id] }}"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
							{% elseif field.type == 'date' %}
								<input type="date" name="ufs[{{ field.id }}][start]" id="{{ field.id }}" value="{{ ufs[field.id].start }}"{% if ufs[field.id].start %} style="background: #FFFFE5;"{% endif %}>
								- <input type="date" name="ufs[{{ field.id }}][end]" id="{{ field.id }}" value="{{ ufs[field.id].end }}"{% if ufs[field.id].end %} style="background: #FFFFE5;"{% endif %}>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				{% for field in additional_fields %}
					{% if field.type == 'text' or field.type == 'header' or field.type == 'email' or field.type == 'date' or field.type == 'datetime' or field.type == 'time' or field.type == 'textarea' or field.type == 'checkbox' or field.type == 'radio' or field.type == 'select' or field.type == 'table' %}
						<tr>
							<th scope="row"><label for="{{ field.id }}">{{ field.label }}</label></th>
							<td>
								{% if field.type == 'text' %}
									<input type="text" name="ufs[{{ field.id }}]" id="{{ field.id }}" value="{{ ufs[field.id] }}"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
								{% elseif field.type == 'email' %}
									<input type="email" name="ufs[{{ field.id }}]" id="{{ field.id }}" value="{{ ufs[field.id] }}"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
								{% elseif field.type == 'date' %}
									<input type="date" name="ufs[{{ field.id }}][start]" id="{{ field.id }}" value="{{ ufs[field.id].start }}"{% if ufs[field.id].start %} style="background: #FFFFE5;"{% endif %}>
									- <input type="date" name="ufs[{{ field.id }}][end]" id="{{ field.id }}" value="{{ ufs[field.id].end }}"{% if ufs[field.id].end %} style="background: #FFFFE5;"{% endif %}>
								{% elseif field.type == 'time' %}
									<input type="time" name="ufs[{{ field.id }}][start]" id="{{ field.id }}" value="{{ ufs[field.id].start }}">
									- <input type="time" name="ufs[{{ field.id }}][end]" id="{{ field.id }}" value="{{ ufs[field.id].end }}">
								{% elseif field.type == 'datetime' %}
									<input type="date" name="ufs[{{ field.id }}][datestart]" id="{{ field.id }}" value="{{ ufs[field.id].datestart }}">
									<input type="time" name="ufs[{{ field.id }}][timestart]" id="{{ field.id }}" value="{{ ufs[field.id].timestart }}">
									- <input type="date" name="ufs[{{ field.id }}][dateend]" id="{{ field.id }}" value="{{ ufs[field.id].dateend }}">
									<input type="time" name="ufs[{{ field.id }}][timeend]" id="{{ field.id }}" value="{{ ufs[field.id].timeend }}">
								{% elseif field.type == 'textarea' %}
									<textarea name="ufs[{{ field.id }}]" id="{{ field.id }}"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>{{ ufs[field.id] }}</textarea>
								{% elseif field.type == 'checkbox' %}
									{% if field.options %}
										{% for option in field.options %}
											<div class="field">
												<div class="ui checkbox">
													<label for="{{ field.id }}_{{ option.id }}">{{ option.label }}</label> 
													<select name="ufs[{{ field.id }}][{{ option.id }}]" id="{{ field.id }}_{{ option.id }}"{% if ufs[field.id][option.id] %} style="background: #FFFFE5;"{% endif %}>
														<option value="">-- select --</option>
														<option value="2"{% if ufs[field.id][option.id] == 2 %} selected="selected"{% endif %}>yes</option>
														<option value="1"{% if ufs[field.id][option.id] == 1 %} selected="selected"{% endif %}>no</option>
													</select>
												</div>
											</div>
										{% endfor %}
									{% else %}
										<select name="ufs[{{ field.id }}]"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
											<option value="">-- select --</option>
											<option value="2"{% if ufs[field.id] == 2 %} selected="selected"{% endif %}>yes</option>
											<option value="1"{% if ufs[field.id] == 1 %} selected="selected"{% endif %}>no</option>
										</select>
									{% endif %}
								{% elseif field.type == 'radio' %}
									{% if field.options %}
										<select name="ufs[{{ field.id }}]" id="{{ field.id }}"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
											<option value="">-- select --</option>
											{% for option in field.options %}
												<option value="{{ option.id }}"{% if option.id == ufs[field.id] %} selected="selected"{% endif %}>{{ option.label }}</option>
											{% endfor %}
										</select>
									{% endif %}
								{% elseif field.type == 'select' %}
									{% if field.options %}
										<select id="{{ field.id }}_{{ option.id }}" name="ufs[{{ field.id }}]"{% if ufs[field.id] %} style="background: #FFFFE5;"{% endif %}>
											<option value="">-- select --</option>
											{% for option in field.options %}
												<option value="{{ option.id }}"{% if option.id == ufs[field.id] %} selected="selected"{% endif %}>{{ option.label }}</option>
											{% endfor %}
										</select>
									{% endif %}
								{% elseif field.type == 'table' %}
									<table class="ui compact celled definition table">
										<thead>
											<tr>
												<th></th>
												{% for col in field.cols %}
													<th>{{ col.label }}</th>
												{% endfor %}
											</tr>
										</thead>
										<tbody>
											{% for row in field.rows %}
												<tr>
													<td>{{ row.label }}</td>
													{% for col in field.cols %}
														<td>
															{% set disabled = 0 %}
															{% for dis in field.disabled %}
															    {% if col.id == dis.col and row.id == dis.row %}
																	{% set disabled = 1 %}
															    {% endif %}
															{% endfor %}
															{% if disabled %}
															{% elseif field.table_type == 'text' %}
																<input type="text" name="ufs[{{ field.id }}][{{ row.id }}][{{ col.id }}]"{% if value[row.id][col.id] is defined %}value="{{ ufs[field.id][row.id][col.id] }}"{% endif %}>
															{% elseif field.table_type == 'checkbox' %}
																<div class="ui checkbox">
																	<select name="ufs[{{ field.id }}][{{ row.id }}][{{ col.id }}]"{% if ufs[field.id][row.id][col.id] %} style="background: #FFFFE5;"{% endif %}>
																		<option value="">-- select --</option>
																		<option value="2"{% if ufs[field.id][row.id][col.id] == 2 %} selected="selected"{% endif %}>yes</option>
																		<option value="1"{% if ufs[field.id][row.id][col.id] == 1 %} selected="selected"{% endif %}>no</option>
																	</select>
															{% elseif field.table_type == 'radio' %}
																<div class="ui radio"><input type="radio" name="ufs[{{ field.id }}][{{ row.id }}]" value="{{ col.id }}"{% if ufs[field.id][row.id] == col.id %} checked="checked"{% endif %}><label></label></div>
															{% elseif field.table_type == 'select' %}
																<select name="ufs[{{ field.id }}][{{ row.id }}][{{ col.id }}]" class="ui dropdown">
																		<option value="">-- select --</option>
																	{% for option in options %}
																		<option value="{{ option.id }}"{% if ufs[field.id][row.id][col.id] is defined and ufs[field.id][row.id][col.id] == option.id %} selected="selected"{% endif %}>{{ option.label }}</option>
																	{% endfor %}
																</select>
															{% endif %}
														</td>
													{% endfor %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</table>
			<input type="submit" value="{{ __('filter', 'wpep') }}" class="button">
			<br>
			<br>
		</form>
		<h3>Saved Filters</h3>
		<form action="{{ admin_url('admin-ajax.php') }}?action=wpep-filter-act" class="wd-form" id="filer_actions">
			<select name="filter_id" id="filters_list">
				<option value="">-- select --</option>
				{% for f in filters %}
					<option value="{{ f.ID }}"{% if filter_id == f.ID %} selected="selected"{% endif %}>{{ f.title }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="load filter" id="load_filter" class="button">
			<input type="submit" value="delete filter" id="delete_filter" class="button">
			<input type="submit" value="save filter" id="save_filter" class="button">
		</form>
		<br>
		<form action="{{ admin_url('admin-ajax.php') }}?action=wpep-new-filter-save" id="save_new_filter_form">
			<input type="text" name="filter_name"> <input type="submit" value="save new filter" class="button">
		</form>
		<br>
	</div>
	<form action="{{ admin_url('admin-ajax.php?action=wpep-id-export') }}" method="POST">
		{#<div class="tablenav top">
				<select name="mode">
					<option value="export">{{ __('Save PDF', 'wpep') }}</option>
				</select>
				<input type="submit" value="{{ __('Apply', 'wpep') }}" class="button">
		</div>#}
		<table class="wp-list-table widefat fixed striped posts" style="width: {{ count(user_fields) * 100 + count(additional_fields_columns) * 100 + 500 }}px; min-width:100%;">
			<thead>
				<tr>
					<td id="cb" class="manage-column column-cb check-column"><label class="screen-reader-text" for="cb-select-all-1">Wybierz wszystko</label><input id="cb-select-all-1" type="checkbox"></td>
					<th scope="col" class="manage-column column-title"><span>Title</span></th>
					<th scope="col" class="manage-column column-email">E-mail</th>
					<th scope="col" class="manage-column column-paid">Paid</th>
					{% for field in user_fields %}
						<th scope="col" id="{{ field.id }}" class="manage-column column-{{ field.id }}">{{ field.label }}</th>
					{% endfor %}
					{% for key, field in additional_fields_columns %}
						<th scope="col" id="{{ key }}" class="manage-column column-{{ key }}">{{ field }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody id="the-list">
				{% for reg in registrations %}
					<tr id="post-{{ reg.ID }}" class="iedit author-other level-0 post-{{ reg.ID }} type-wpep-registration status-publish hentry">
						<th scope="row" class="check-column">
							<label class="screen-reader-text" for="cb-select-{{ reg.ID }}">Wybierz {{ reg.title }}</label>
							<input id="cb-select-{{ reg.ID }}" type="checkbox" name="post[]" value="{{ reg.ID }}">
						</th>
						<td class="title column-title has-row-actions column-primary page-title" data-colname="Title">
							<strong><a class="row-title" href="{{ get_edit_post_link( reg.ID ) }}" aria-label="„{{ reg.title }}” (Edycja)">{{ reg.title }}</a></strong>
						</td>
						<td class="email column-email" data-colname="E-Mail">{{ reg.email }}</td>
						<td class="paid column-paid" data-colname="Paid">{{ reg.paid }}</td>
						{% for field in user_fields %}
							<td class="{{ field.id }} column-{{ field.id }}" data-colname="{{ field.label }}">{{ reg[field.id] }}</td>
						{% endfor %}
						{% for key, field in additional_fields_columns %}
							<td class="{{ key }} column-{{ key }}" data-colname="{{ field }}">{{ reg[key]|slice(0, 50) }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td class="manage-column column-cb check-column"><label class="screen-reader-text" for="cb-select-all-2">Wybierz wszystko</label><input id="cb-select-all-2" type="checkbox"></td>
					<th scope="col" class="manage-column column-title"><span>Title</span></th>
					<th scope="col" class="manage-column column-paid">Paid</th>
					<th scope="col" class="manage-column column-email">E-mail</th>
					{% for field in user_fields %}
						<th scope="col" id="{{ field.id }}" class="manage-column column-{{ field.id }}">{{ field.label }}</th>
					{% endfor %}
					{% for key, field in additional_fields_columns %}
						<th scope="col" id="{{ key }}" class="manage-column column-{{ key }}">{{ field }}</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>
	</form>
</div>