<div class="wrap">
	<h2>{{ __('Print Id Cards', 'bookings') }}</h2>
	<ul class="subsubsub">
		<li class="all"><a href="edit.php?post_type=wpep&amp;page=id_cards"{% if mode == 'all' %} class="current"{% endif %} aria-current="page">All <span class="count">({{ count_all }})</span></a> |</li>
		<li class="mine"><a href="edit.php?post_type=wpep&amp;page=id_cards&amp;printed=1"{% if mode == 'printed' %} class="current"{% endif %}>Printed <span class="count">({{ count_printed }})</span></a> |</li>
		<li class="publish"><a href="edit.php?post_type=wpep&amp;page=id_cards&amp;printed=0"{% if mode == 'notprinted' %} class="current"{% endif %}>Not Printed <span class="count">({{ count_notprinted }})</span></a></li>
	</ul>
	<div class="tablenav top">
		<form action="edit.php?post_type=wpep&page=id_cards" method="POST">
			<select name="event_id">
				<option value="0">-- {{ __('select event', 'wpep') }} --</option>
				{% for event in events %}
				    <option value="{{ event.ID }}"{% if event_id == event.ID %} selected="selected"{% endif %}>{{ event.post_title }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="{{ __('filter', 'wpep') }}" class="button">
		</form>
	</div>
	<form action="{{ admin_url('admin-ajax.php') }}?action=wpep-id_card-export" method="POST">
		<div class="tablenav top">
				<select name="action">
					<option value="save">{{ __('Save PDF', 'wpep') }}</option>
				</select>
				<input type="submit" value="{{ __('Apply', 'wpep') }}" class="button">
		</div>
		<table class="wp-list-table widefat fixed striped posts">
			<thead>
				<tr>
					<td id="cb" class="manage-column column-cb check-column"><label class="screen-reader-text" for="cb-select-all-1">Wybierz wszystko</label><input id="cb-select-all-1" type="checkbox"></td>
					<th scope="col" class="manage-column column-title"><span>Title</span></th>
					<th scope="col" class="manage-column column-email">E-mail</th>
					<th scope="col" class="manage-column column-printed">Printed</th>
					{% for field in user_fields %}
						<th scope="col" id="{{ field.id }}" class="manage-column column-{{ field.id }}">{{ field.label }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody id="the-list">
				{% for reg in registrations %}
					<tr id="post-{{ reg.ID }}" class="iedit author-other level-0 post-{{ reg.ID }} type-wpep-registration status-publish hentry">
						<th scope="row" class="check-column">
							<label class="screen-reader-text" for="cb-select-{{ reg.ID }}">Wybierz {{ reg.title }}</label>
							<input id="cb-select-{{ reg.ID }}" type="checkbox" name="post[]" value="{{ reg.ID }}"{% if reg.printed != 1 %} checked="checked"{% endif %}>
						</th>
						<td class="title column-title has-row-actions column-primary page-title" data-colname="Title">
							<strong><a class="row-title" href="{{ get_edit_post_link( reg.ID ) }}" aria-label="„{{ reg.title }}” (Edycja)">{{ reg.title }}</a></strong>
						</td>
						<td class="email column-email" data-colname="E-Mail">{{ reg.email }}</td>
						<td class="printed column-printed" data-colname="Printed">{{ reg.printed }}</td>
						{% for field in user_fields %}
							<td class="{{ field.id }} column-{{ field.id }}" data-colname="{{ field.label }}">{{ reg[field.id] }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td class="manage-column column-cb check-column"><label class="screen-reader-text" for="cb-select-all-2">Wybierz wszystko</label><input id="cb-select-all-2" type="checkbox"></td>
					<th scope="col" class="manage-column column-title"><span>Title</span></th>
					<th scope="col" class="manage-column column-printed">Printed</th>
					<th scope="col" class="manage-column column-email">E-mail</th>
					{% for field in user_fields %}
						<th scope="col" id="{{ field.id }}" class="manage-column column-{{ field.id }}">{{ field.label }}</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>
	</form>
</div>