<div id="wpep-account">
	{% if is_user_logged_in() != true %}
		<div class="ui attached message">
			<div class="header">
				{{ __('Welcome to our site!', 'wpep') }}
			</div>
			<p>{{ __('You are not logged in.', 'wpep') }}</p>
		</div>
		{% if get_option( 'wpep_settings_register_page' ) and get_option( 'wpep_settings_login_page' ) %}
			<div class="ui bottom attached warning message">
				<a href="{{ get_permalink( get_option( 'wpep_settings_login_page' ) ) }}">Log-in</a> or <a href="{{ get_permalink( get_option( 'wpep_settings_register_page' ) ) }}">Register</a>
			</div>
		{% endif %}
	{% else %}
		<p>
			<a href="{{ get_permalink() }}?wpep-logout=1" class="ui primary button">Log Out</a>
		</p>
		<div class="ui attached message">
			<div class="header">
				{{ __('Your Account', 'wpep') }}
			</div>
			<p>{{ __('Make changes to your details and save the form', 'wpep') }}</p>
		</div>
		<form action="{{ admin_url('admin-ajax.php') }}?action=wpep-account-save" class="ui form attached segment wd-form">
			<div class="field required">
				<label>{{ __('E-mail', 'wpep') }}</label>
				<input type="email" name="email" placeholder="{{ __('E-mail', 'wpep') }}" required="required" value="{{ get_user_email( get_current_user_id() ) }}" required="required">
			</div>
			{{ additional_fields|raw }}
			<button class="ui button" type="submit">{{ __('Save', 'wpep') }}</button>
		</form>
	{% endif %}
</div>