<div id="wpep-login">
	<form action="" class="ui form">
		<div class="field">
			<label>{{ __('E-mail', 'wpep') }}</label>
			<input type="email" name="email" placeholder="{{ __('E-mail', 'wpep') }}" required="required">
		</div>
		<div class="field">
			<label>{{ __('Password', 'wpep') }}</label>
			<input type="password" name="password" placeholder="{{ __('Password', 'wpep') }}" required="required">
		</div>
		<button class="ui button" type="submit">{{ __('Log-in', 'wpep') }}</button>
	</form>
</div>