<div id="wpep-register">
	<div class="ui attached message">
		<div class="header">
			Welcome to our site!
		</div>
		<p>Fill out the form below to sign-up for a new account</p>
	</div>
	<form action="" class="ui form attached segment wd-form">
		 <div class="field">
			<label>{{ __('Name', 'wpep') }}</label>
			<div class="two fields">
				<div class="field">
					<input type="text" name="first-name" placeholder="{{ __('First Name', 'wpep') }}">
				</div>
				<div class="field">
					<input type="text" name="last-name" placeholder="{{ __('Last Name', 'wpep') }}">
				</div>
			</div>
		</div>
		<div class="field">
			<label>{{ __('E-mail', 'wpep') }}</label>
			<input type="email" name="email" placeholder="{{ __('E-mail', 'wpep') }}" required="required">
		</div>
		<div class="field">
			<label>{{ __('Password', 'wpep') }}</label>
			<input type="password" name="password" placeholder="{{ __('Password', 'wpep') }}" required="required">
		</div>
		<button class="ui button" type="submit">{{ __('Register', 'wpep') }}</button>
	</form>
	<div class="ui bottom attached warning message">
		<i class="icon help"></i>
		Already signed up? <a href="#">Login here</a> instead.
	</div>
</div>