<div id="wpep-event-registration">
	{% if not is_user_logged_in() and ( get_option( 'wpep_settings_login_page' ) ) %}
		<div class="ui attached warning message">
			<p>{{ sprintf( __('If you already have an account, %1$slog-in here%2$s', 'wpep'), '<a href="' ~ get_permalink( get_option( 'wpep_settings_login_page' ) )  ~ '">', '</a>') }}</p>
		</div>
	{% endif %}
	<form action="{{ admin_url('admin-ajax.php') }}?action=wpep-event-registration" class="ui form attached segment wd-form">
		<div class="field{% if is_user_logged_in() %} disabled{% endif %}">
			<label>{{ __('E-mail', 'wpep') }}</label>
			<input type="email" name="email" placeholder="{{ __('E-mail', 'wpep') }}" required="required" value="{{ email }}">
		</div>
		{{ user_fields|raw }}
		{{ additional_fields|raw }}
		<button class="ui button" type="submit">{{ __('Continue', 'wpep') }}</button>
		<input type="hidden" name="event_id" value="{{ event_id }}">
	</form>
</div>