<div id="wpep-event-registration">
	<div class="ui attached message">
		<div class="header">
			{{ __('Event Registration', 'wpep') }}
		</div>
		<p>{{ __("You're logged in, so we can use your information.", 'wpep') }}</p>
	</div>
	<table class="ui celled striped table">
		<tbody>
			<tr>
				<td>{{ __('E-mail', 'wpep') }}</td>
				<td>{{ email }}</td>
			</tr>
		</tbody>
	</table>
	{{ user_fields|raw }}
	{{ additional_fields|raw }}
</div>